
.block {
  display: block;
  width: 60vh;
  height: 60vh;
  background-color: white;
  border-radius: 150px;
  position: fixed;
  transform: rotate(45deg);
  &.upper {
    left: 25vw;
    top: -40vh;
  }
  &.lower {
    left: 48vw;
    top: 75vh;
    width: 80vw;
    height: 80vw;
  }
  &.right {
    left: 48vw;
    right: 75vh;
    width: 20vw;
    height: 20vw;
  }
  &.topRight {
    top: -13vh;
    right: -14vh;
    width: 25vw;
    height: 25vw;
    border-radius: 58px;
    background-color: #3164A3;
  }
  &.bottomLeft {
    bottom: -12vh;
    left: -17vw;
    width: 35vw;
    height: 35vw;
    border-radius: 58px;
    background-color: #4483C1;
  }
}
.shadow {
  box-shadow: 1px 2px 51px 0px rgba(0, 0, 0, 0.35);
}
.github {
  background-image: url('/assets/img/github.svg');
  background-repeat: no-repeat;
  padding-left: 3.5rem !important;
  margin-right: 0.5rem;
  background-size: 40px 30px;
  background-position: 10px 40%;
}
.slack {
  background-image: url('/assets/img/slack.svg');
  background-repeat: no-repeat;
  padding-left: 3.5rem !important;
  background-size: 40px 30px;
  background-position: 10px 40%;
}
.wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  .center {
    display: flex;
    max-width: 759px;
    .logo {
      width: 30%;
      margin: -275px 0px 0px 0px;
    }
    .wordmark {
      display: block;
      width: 40%;
    }
  }
}
