
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  line-height: 2.5rem;
}
a {
  transition: all 250ms;
  display: inline-block;
  text-decoration: none;
  color: black;
  &.button {
    border: 2px solid #ccc;
    padding: 0.75rem 2rem;
    border-radius: 30px;
  }
  &:hover {
    background-color: #ccc;
  }
}
