@import url('solid-repl/lib/style.css');

@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Regular.woff') format('woff'),
    url('./fonts/Gordita/Gordita Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Thin.woff') format('woff'),
    url('./fonts/Gordita/Gordita Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Medium.woff') format('woff'),
    url('./fonts/Gordita/Gordita Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Bold.woff') format('woff'),
    url('./fonts/Gordita/Gordita Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.defer {
  content-visibility: auto;
}
* {
  scroll-margin-top: 80px;
}
.prose pre {
  font-size: inherit;
}
.shiki {
  border: 1px solid #dddddd;
  padding: 1.15rem !important;
  border-radius: 7.5px;
}
.prose h2 code {
  color: #777 !important;
}
.prose blockquote {
  @apply mx-0;
}
/* TODO: Recreate this class in TW classes */
.feature-block {
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 3px;
}
.chevron::after {
  border-style: solid;
  transition: all 250ms;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  position: relative;
  top: 0.45em;
  transform: rotate(-45deg);
  vertical-align: top;
}
.chevron.chevron-right:after {
  left: 0.25em;
  top: 0.55em;
  transform: rotate(45deg);
}
.chevron.chevron-left:after {
  right: 0.25em;
  top: 0.55em;
  transform: rotate(225deg);
}
.chevron.chevron-right:hover::after {
  left: 0.45em;
}
.nav-items-container {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 0px;
}
.nav-logo-bg {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), 92%, rgba(255, 255, 255, 0));
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* START TOOLTIP STYLES */
@media (hover: hover) {
  [data-tooltip] {
    position: relative;
  }

  [data-tooltip]::before,
  [data-tooltip]::after {
    font-size: 0.75em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [data-tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 10;
  }
  [data-tooltip]::after {
    content: attr(data-tooltip);
    font-family: inherit;
    text-align: center;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.8ch 1ch;
    border-radius: 0.3ch;
    background: #333;
    color: #fff;
    z-index: 5;
  }

  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after {
    display: block;
  }

  [data-tooltip]:not([flow])::before,
  [data-tooltip][flow^='up']::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [data-tooltip]:not([flow])::after,
  [data-tooltip][flow^='up']::after {
    bottom: calc(100% + 5px);
  }
  [data-tooltip]:not([flow])::before,
  [data-tooltip]:not([flow])::after,
  [data-tooltip][flow^='up']::before,
  [data-tooltip][flow^='up']::after {
    left: 50%;
    transform: translate(-50%, -0.25em);
  }

  @keyframes move-down {
    to {
      opacity: 0.9;
      transform: translate(-50%, 0);
    }
  }

  [data-tooltip]:not([flow]):hover::before,
  [data-tooltip]:not([flow]):hover::after,
  [data-tooltip][flow^='up']:hover::before,
  [data-tooltip][flow^='up']:hover::after {
    animation: move-down 200ms ease-out forwards;
  }
}
/* END OF TOOLTIP STYLES */
