@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Regular.woff') format('woff'),
    url('./fonts/Gordita/Gordita Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Thin.woff') format('woff'),
    url('./fonts/Gordita/Gordita Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Medium.woff') format('woff'),
    url('./fonts/Gordita/Gordita Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Bold.woff') format('woff'),
    url('./fonts/Gordita/Gordita Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

.defer {
  content-visibility: 'auto';
}

.nav::before,
.nav::after {
  content: '';
  @apply absolute top-0 left-0 z-10 w-full h-full transition duration-200 opacity-0;
}

.nav::before {
  @apply shadow-lg bg-gradient-to-r from-solid-light via-solid-medium to-solid-default;
}

.nav::after {
  @apply bg-white;
}

.nav--locked::before,
.nav--unlocked::after {
  @apply opacity-100;
}

pre code {
  @apply bg-gray-50 rounded;
}
