@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Regular.woff') format('woff'),
    url('./fonts/Gordita/Gordita Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Thin.woff') format('woff'),
    url('./fonts/Gordita/Gordita Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita Medium.woff') format('woff'),
    url('./fonts/Gordita/Gordita Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Gordita';
  src: url('./fonts/Gordita/Gordita Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gordita/Gordita-Bold.woff') format('woff'),
    url('./fonts/Gordita/Gordita Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.defer {
  content-visibility: auto;
}

.nav::before,
.nav::after {
  content: '';
  @apply absolute top-0 left-0 z-10 w-full h-full transition duration-200 opacity-0;
}

.nav::before {
  @apply shadow-lg bg-gradient-to-r from-solid-light via-solid-medium to-solid-default;
}

.nav::after {
  @apply bg-white;
}

.nav--filled {
  @apply text-white;
}

.nav--locked::before,
.nav--unlocked::after,
.nav--filled::before {
  @apply opacity-100;
}

.nav--filled::after {
  @apply opacity-0;
}
.prose pre {
  font-size: inherit;
}

.shiki {
  border: 1px solid #dddddd;
  padding: 1.25rem !important;
  border-radius: 7.5px;
  box-shadow: 0px 5px 7.5px -3px rgba(0, 0, 0, 0.125);
}
.prose blockquote {
  @apply mx-0;
}
/* TODO: Recreate this class in TW classes */
.feature-block {
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 3px;
}
